button:hover {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
.menu-toggle {
  display: none;
}
.header__nav-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: -1;
  background-color: white;
  transition: opacity 0.2s ease;
}
.container {
  max-width: 1160px;
  margin: auto;
}
.pass-the-tests:hover,
.start-learning:hover {
  box-shadow: #858585 0 3px 2px;
}
body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  background-color: #F9F8FD;
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  padding-top: 12px;
  color: #22253B;
}
body a {
  color: black;
  text-decoration: none;
}
.header {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 10.9px 10.27px 21px;
  border-radius: 75px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 53px;
  margin-right: 73.02px;
}
.header__nav {
  margin-right: 332px;
}
.header__nav .nav {
  display: flex;
  justify-content: space-between;
  width: 496.98px;
}
.header__nav .nav__link:hover a {
  color: #F15525;
}
.header .account {
  display: flex;
  width: 173.1px;
  justify-content: space-between;
  align-items: center;
}
.header .account__registration {
  font-size: 13px;
  color: #3C3E50;
}
.header .account__registration:hover {
  color: #F15525;
}
.header .account__entrance {
  padding: 8.87px 18.46px 8.87px 19px;
  background-color: #38BFF2;
  border-radius: 34px;
  border: none;
  font-size: 12px;
  color: white;
  display: flex;
  gap: 2.56px;
  align-items: center;
}
.header .account__entrance:hover {
  box-shadow: #858585 0 3px 2px;
}
.beginning {
  display: grid;
  grid-template-columns: 638px 390.89px;
  column-gap: 122.33px;
  padding: 60.85px 0 56px;
}
.beginning .left-beginning {
  margin-top: 9.15px;
}
.beginning .left-beginning .slogan {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 32px;
}
.beginning .left-beginning .slogan .programming {
  font-weight: 600;
}
.beginning .left-beginning .slogan .staples {
  color: #F15525;
}
.beginning .left-beginning .line {
  color: #DEDEDE;
  width: 365.22px;
  margin-bottom: 14.53px;
}
.beginning .left-beginning .test {
  font-size: 16px;
  line-height: 23px;
  width: 365.22px;
  margin-bottom: 17.47px;
}
.beginning .left-beginning .pass-the-tests {
  padding: 25.22px 53px 27px 50.71px;
  background-color: #F15525;
  border-radius: 82px;
  border: none;
  font-size: 19px;
  line-height: 96.7%;
  letter-spacing: 0.005px;
  color: white;
  display: flex;
  gap: 12.38px;
  align-items: center;
}
.beginning .computer {
  width: 390.89px;
}
.nav {
  list-style: none;
}
.nav__link {
  font-size: 13px;
  letter-spacing: 104.4%;
}
.heading {
  font-size: 46px;
  line-height: 46px;
  color: #22253B;
  text-align: center;
}
.down-slice {
  background-image: url(../images/slice.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 60px;
}
.down-slice .down-button {
  background-color: white;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section {
  background-color: white;
  border-radius: 0 0 80px 80px;
}
.second-section .technology {
  padding: 53px 0 88.5px;
}
.second-section .technology .heading {
  margin-bottom: 35px;
}
.second-section .technology .heading:nth-of-type(2) {
  width: 598px;
  margin-left: auto;
  margin-right: auto;
}
.second-section .technology .banner {
  background-color: #EAF2F5;
  border-radius: 48px;
  padding: 42px 106.17px 1.15px 122.92px;
  display: flex;
  gap: 59px;
  margin-bottom: 84px;
}
.second-section .technology .banner__enumeration {
  padding-top: 36px;
}
.second-section .technology .banner__enumeration .list-of-skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 8px;
  margin-bottom: 27.86px;
}
.second-section .technology .banner__enumeration .list-of-skills__element {
  padding: 11.88px 0 10.69px;
  border-radius: 44px;
  color: white;
  text-align: center;
  font-size: 17px;
}
.second-section .technology .banner__enumeration .list-of-skills__element:first-child {
  width: 311px;
  background-color: #5096FF;
}
.second-section .technology .banner__enumeration .list-of-skills__element:nth-child(2) {
  width: 89px;
  background-color: #FFB359;
}
.second-section .technology .banner__enumeration .list-of-skills__element:nth-child(3) {
  width: 151.17px;
  background-color: #FF6F50;
}
.second-section .technology .banner__enumeration .list-of-skills__element:nth-child(4) {
  width: 277.48px;
  background-color: #4BD071;
}
.second-section .technology .banner__enumeration .list-of-skills__element:nth-child(5) {
  width: 258px;
  background-color: #50C0FF;
}
.second-section .technology .banner__enumeration .list-of-skills__element:nth-child(6) {
  width: 95px;
  background-color: #4B77B9;
}
.second-section .technology .banner__enumeration .list-of-skills__element:nth-child(7) {
  width: 93.83px;
  background-color: #AF93FF;
}
.second-section .technology .banner__enumeration .list-of-skills__element:hover {
  box-shadow: #858585 0 3px 2px;
}
.second-section .technology .banner .minimum-required {
  font-size: 20px;
  width: 386px;
  line-height: 25px;
}
.second-section .technology .pros-of-training {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
}
.second-section .technology .pros-of-training .advantage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #EAF2F5;
  border-radius: 30px;
  padding: 48px 35px 31px;
  width: 270px;
}
.second-section .technology .pros-of-training .advantage__img {
  margin: auto;
  margin-bottom: 19px;
  margin-top: 0;
}
.second-section .technology .pros-of-training .advantage__img[src="images/icon2.svg"] {
  margin-bottom: 17px;
}
.second-section .technology .pros-of-training .advantage__img[src="images/icon3.svg"] {
  margin-bottom: 15.74px;
}
.second-section .technology .pros-of-training .advantage__img[src="images/icon4.svg"] {
  margin-bottom: 9px;
}
.second-section .technology .pros-of-training .advantage__img[src="images/icon5.svg"] {
  margin-bottom: 24px;
}
.second-section .technology .pros-of-training .advantage__img[src="images/icon6.svg"] {
  margin-bottom: 22px;
}
.second-section .technology .pros-of-training .advantage__img[src="images/icon7.svg"] {
  margin-bottom: 21px;
}
.second-section .technology .pros-of-training .advantage__heading {
  font-size: 16px;
  line-height: 18.5px;
  text-align: center;
  margin-bottom: 8px;
}
.second-section .technology .pros-of-training .advantage__text {
  font-size: 13px;
  text-align: center;
  line-height: 16px;
}
.second-section .technology .pros-of-training .advantage:hover {
  box-shadow: #858585 0 5px 3px;
}
.second-section .technology .pros-of-training .advantage:nth-child(4) {
  padding-top: 43.66px;
}
.how-the-training-takes-place {
  padding: 57px 0 90px;
}
.how-the-training-takes-place img[src="images/shade.svg"] {
  position: absolute;
  margin: auto;
}
.how-the-training-takes-place .heading {
  margin-bottom: 27px;
}
.how-the-training-takes-place .text-before-the-video {
  width: 642px;
  margin: auto;
  margin-bottom: 38px;
  text-align: center;
  line-height: 20px;
}
.how-the-training-takes-place .video {
  margin: auto;
  margin-bottom: 27.95px;
  width: fit-content;
  position: relative;
}
.how-the-training-takes-place .pause {
  position: absolute;
  top: 118px;
  left: 293px;
  bottom: 158.05px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-the-training-takes-place .pause__icon {
  width: 122px;
  margin-bottom: 7px;
}
.how-the-training-takes-place .pause__watch {
  font-size: 20px;
  line-height: 96.7%;
  color: white;
  letter-spacing: -3%;
}
.how-the-training-takes-place .description-of-training {
  background-color: white;
  border-radius: 40px;
  padding: 28px 58px 51px 53px;
  display: flex;
  margin-bottom: 26px;
}
.how-the-training-takes-place .description-of-training .item__number {
  color: #38BFF2;
  font-size: 77px;
  margin-bottom: 8px;
  font-weight: bold;
}
.how-the-training-takes-place .description-of-training .item__header {
  font-size: 24px;
  line-height: 30px;
  width: 266px;
  margin-bottom: 19px;
}
.how-the-training-takes-place .description-of-training .item__text {
  font-size: 16px;
  line-height: 23px;
  width: 282px;
}
.how-the-training-takes-place .description-of-training .item:first-child {
  margin-right: 58px;
  width: 332px;
  border-right: 1px solid #EAF2F5;
}
.how-the-training-takes-place .description-of-training .item:nth-child(2) {
  margin-right: 50px;
  width: 326px;
  border-right: 1px solid #EAF2F5;
}
.how-the-training-takes-place .training-offer {
  box-sizing: border-box;
  border-radius: 110px;
  background-color: white;
  padding: 12px 37px 11px 14px;
  display: flex;
  gap: 24px;
  align-items: center;
  width: 538px;
  margin: auto;
}
.how-the-training-takes-place .training-offer p {
  font-size: 15px;
  line-height: 18px;
  width: 214px;
  font-weight: bold;
}
.how-the-training-takes-place .training-offer .start-learning {
  width: 249px;
  font-size: 16px;
  display: flex;
  gap: 8.51px;
  align-items: center;
  padding: 27px 45.49px 27px 46px;
}
.how-the-training-takes-place .training-offer .start-learning span {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  width: 214px;
}
.start-learning {
  background-color: #F15525;
  border-radius: 82px;
  border: none;
  line-height: 96.7%;
  letter-spacing: -3%;
  color: white;
}
.fourth-section {
  background-color: white;
  border-radius: 80px;
}
.fourth-section .support-methods {
  padding: 93px 0 89px;
  display: grid;
  grid-template-columns: 400px 300px 400px;
  grid-template-rows: 313px 290px;
  row-gap: 28px;
  column-gap: 30px;
}
.fourth-section .support-methods__block {
  background-color: #EAF2F5;
  border-radius: 40px;
}
.fourth-section .support-methods .help-and-support-img {
  padding: 41px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.fourth-section .support-methods .help-and-support-text {
  padding: 52px 81px 51px 100px;
  grid-column-start: 2;
  grid-column-end: 4;
}
.fourth-section .support-methods .help-and-support-text__heading {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 24px;
}
.fourth-section .support-methods .help-and-support-text__paragraph {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 25px;
}
.fourth-section .support-methods .help-and-support-text__paragraph:first-of-type {
  width: 435px;
}
.fourth-section .support-methods .teaching-methods-text {
  padding: 55px 128px 55px 100px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.fourth-section .support-methods .teaching-methods-text__heading {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 24px;
}
.fourth-section .support-methods .teaching-methods-text__paragraph {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 25px;
}
.fourth-section .support-methods .teaching-methods-img {
  display: flex;
  justify-content: center;
  padding: 16px 0 15px;
}
.tuition-fees {
  padding: 90px 0 0;
  margin-bottom: 63px;
}
.tuition-fees .heading {
  margin-bottom: 35px;
}
.tuition-fees .cost-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}
.tuition-fees .cost-information__item {
  display: flex;
  align-items: center;
}
.tuition-fees .cost-information__item img[src="images/costicon1.svg"] {
  margin-right: 29px;
}
.tuition-fees .cost-information__item img[src="images/costicon2.svg"] {
  margin-right: 30px;
}
.tuition-fees .cost-information__item img[src="images/costicon3.svg"] {
  margin-right: 36.31px;
}
.tuition-fees .cost-information__item p {
  line-height: 21px;
}
.tuition-fees .cost-information__item:nth-child(1) {
  width: 390px;
}
.tuition-fees .cost-information__item:nth-child(2) {
  width: 247px;
}
.tuition-fees .cost-information__item:nth-child(3) {
  width: 385.69px;
}
.tuition-fees .table {
  background-color: white;
  padding: 36px 40px 37px 39px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.tuition-fees .table .tr {
  display: grid;
  grid-template-columns: 499px 285px 276px;
  padding-left: 19px;
}
.tuition-fees .table .thead {
  font-weight: bold;
  color: #38BFF2;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 15px;
}
.tuition-fees .table .tbody {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}
.tuition-fees .table .tbody .tr:nth-of-type(odd) {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #F3F3F3;
  border-radius: 10px;
}
.tuition-fees .table .tbody .tr:nth-of-type(2) {
  padding-top: 15px;
  padding-bottom: 14px;
}
.tuition-fees .table .tbody .tr:nth-of-type(4) {
  padding-top: 14px;
  padding-bottom: 18px;
}
.tuition-fees .table .tbody .tr:nth-of-type(6) {
  padding-top: 14px;
  padding-bottom: 14px;
}
.tuition-fees .table .tfoot {
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
}
.tuition-fees .note {
  padding-left: 53px;
  font-size: 16px;
  color: #8E8E8E;
  margin-bottom: 33px;
}
.tuition-fees .mandatory-learning {
  background-color: #EAF2F5;
  border-radius: 30px;
  padding: 65px 51px 63px 54px;
  display: flex;
  align-items: center;
}
.tuition-fees .mandatory-learning img[src="images/mandatorylearning.svg"] {
  margin-right: 30px;
}
.tuition-fees .mandatory-learning p {
  font-size: 17px;
  line-height: 22px;
  margin-right: 23px;
}
.tuition-fees .mandatory-learning .start-learning {
  margin-bottom: 11px;
  width: 311px;
  display: flex;
  gap: 13.16px;
  align-items: center;
  padding: 24px 64.84px 24px 59px;
}
.tuition-fees .mandatory-learning .start-learning span {
  line-height: 22px;
  font-size: 19px;
  width: 164px;
  text-align: center;
  margin-right: 0;
}
.footer {
  display: grid;
  grid-template-columns: 712px 282px 176px;
  grid-template-rows: 78px 1fr;
  margin-bottom: 23px;
  align-items: first baseline;
}
.footer .school-name {
  display: flex;
  align-items: center;
  gap: 18.84px;
  width: 257px;
}
.footer .school-name__name {
  color: #8E8E8E;
  line-height: 19px;
  font-size: 16px;
}
.footer .buttons {
  display: flex;
  gap: 16px;
  padding-left: 3px;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer .buttons__button {
  background-color: #22253B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: none;
}
.footer .nav {
  padding-top: 4px;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.footer .nav__link:hover a {
  color: #F15525;
}
.footer .info {
  padding-left: 4px;
  align-self: start;
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.footer .info__tel {
  color: #38BFF2;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 3px;
}
.footer .info__mail {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 62px;
}
.footer .info__text {
  color: #8E8E8E;
  font-size: 13px;
  line-height: 23px;
}
hr {
  background-color: #D8D8D8;
  margin-bottom: 28px;
}
.bottom {
  display: flex;
  color: #8E8E8E;
  margin-bottom: 32px;
}
.bottom__all-rights-reserved {
  margin-right: 354px;
  font-size: 16px;
  line-height: 23px;
}
.bottom__user-agreement {
  margin-right: 70px;
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}
.bottom__privacy-policy {
  font-size: 16px;
  line-height: 23px;
  color: #8E8E8E;
}
.bottom__user-agreement:hover {
  text-decoration: #8E8E8E underline;
}
.bottom__privacy-policy:hover {
  text-decoration: #8E8E8E underline;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}
